scripts/flows.json
[{"id":"4722024a.847f34","type":"tab","label":"UI","disabled":false,"info":""},{"id":"17d496a8.f10e79","type":"tab","label":"Humidité","disabled":false,"info":""},{"id":"104b321d.9da63e","type":"tab","label":"Lumière","disabled":false,"info":""},{"id":"8b3dbf4b.1aa54","type":"tab","label":"Température","disabled":false,"info":""},{"id":"d317665b.e5732","type":"ui_group","name":"Caméra","tab":"5cfd93ad.5c703c","order":5,"disp":true,"width":"6","collapse":false},{"id":"8aa0e4c3.14a548","type":"ui_group","name":"Débit pompe","tab":"6f89d9b.a6f3b28","order":3,"disp":true,"width":"6","collapse":false},{"id":"45046369.cb3964","type":"ui_group","name":"Température jardin","tab":"5cfd93ad.5c703c","order":3,"disp":true,"width":"6","collapse":false},{"id":"c96f5ad8.cbc918","type":"ui_group","name":"Température","tab":"8d6a87b2.c74d","order":2,"disp":true,"width":"6","collapse":false},{"id":"ac471694.6f34","type":"ui_group","name":"Heure de début","tab":"a4d76801.aa98a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"5cfd93ad.5c703c","type":"ui_tab","name":"Jardin","icon":"iconify-maki:garden-11","order":1,"disabled":false,"hidden":false},{"id":"6f89d9b.a6f3b28","type":"ui_tab","name":"Pompage","icon":"iconify-mdi:water-pump","order":4,"disabled":false,"hidden":false},{"id":"8d6a87b2.c74d","type":"ui_tab","name":"Gestion température","icon":"iconify-fa:thermometer-3","order":3,"disabled":false,"hidden":false},{"id":"a4d76801.aa98a8","type":"ui_tab","name":"Lumière","icon":"iconify-heroicons-outline:light-bulb","order":2,"disabled":false,"hidden":false},{"id":"b5f12047.2d1dc8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f7cb6fbe.d17c8","type":"ui_group","name":"Heure de fin","tab":"a4d76801.aa98a8","order":2,"disp":true,"width":"6","collapse":false},{"id":"15c763a1.70b83c","type":"ui_group","name":"Humidité","tab":"5cfd93ad.5c703c","order":5,"disp":true,"width":"6","collapse":false},{"id":"12820790.41b0c8","type":"ui_group","name":"Lumière","tab":"5cfd93ad.5c703c","order":4,"disp":true,"width":"6","collapse":false},{"id":"c0042b59.d64a28","type":"ui_gauge","z":"4722024a.847f34","name":"","group":"c96f5ad8.cbc918","order":1,"width":0,"height":0,"gtype":"gage","title":"Température souhaitée","label":"°C","format":"{{value}}","min":"20","max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":280,"wires":[]},{"id":"87ee6e21.d64d68","type":"ui_gauge","z":"4722024a.847f34","name":"","group":"8aa0e4c3.14a548","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidité souhaitée","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ff0000","#80ff00","#ca3838"],"seg1":"","seg2":"","x":470,"y":440,"wires":[]},{"id":"58ee3989.4c8b28","type":"inject","z":"4722024a.847f34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"checkWeb","payloadType":"str","x":910,"y":80,"wires":[["3ec99c50.6dff94"]]},{"id":"3ec99c50.6dff94","type":"ui_template","z":"4722024a.847f34","group":"d317665b.e5732","name":"Camera","order":1,"width":6,"height":6,"format":"<!DOCTYPE html>\n<html>\n<style>\nimg {\n    border: 1px solid #ddd;\n    border-radius: 8px;\n    padding: 2px;\n    width: 300px;\n}\n</style>\n\n<script type=\"text/javascript\">\nscope.$watch('msg', function(msg) {\n    inMessage(msg.payload);\n});\n\nfunction updatePic() {\n        document.getElementById('c51').src = \"http://Your IP here:8081/\";\n       //alert('updated pics');\n}\n\nfunction inMessage(event) {\n    if (event.match('checkWeb')) {\n        updatePic();\n    }\n}\n\n</script>\n<center>\n<table>\n    <tr><!-- Row 1 -->\n    \t\t<td style=\"text-align: center\"><img src=\"\" id=\"c51\" /></td>\n\n    </tr>\n</table>\n</center>\n</html>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1060,"y":80,"wires":[[]]},{"id":"b5360ba6.6e04e8","type":"ui_template","z":"4722024a.847f34","group":"d317665b.e5732","name":"Clock Toolbar","order":2,"width":0,"height":0,"format":"\n<script id=\"titleScript\" type=\"text/javascript\">\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    var div = $('<div></div>');\n    var p = $('<p/ id=\"clock\">');\n    $('#titleScript').parent().hide();\n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleTimeString('de-AT'));\n    }\n\n    // Watch the payload and update the title\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            if (data.match(\"systemsummary\")) { //Systemstatus\n                m = data;\n                n = m.split(':');\n                //alert(n[1]);\n                var sSummary = parseInt(n[1], 10);\n                if(sSummary === 14){\n                    document.getElementById(\"clock\").style.backgroundColor =\"transparent\";\n                }\n                if(sSummary < 14){\n                    document.getElementById(\"clock\").style.backgroundColor =\"#FF0033\";\n                }\n            }else{\n                displayTitle(data);\n            }\n        });\n        setInterval(upTime,1000);\n    })(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1360,"y":120,"wires":[[]]},{"id":"a7726c4e.bebe48","type":"ui_template","z":"4722024a.847f34","group":"d317665b.e5732","name":"Icons","order":1,"width":0,"height":0,"format":"<script src=\"https://code.iconify.design/1/1.0.7/iconify.min.js\"></script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1330,"y":80,"wires":[[]]},{"id":"38362158.89c93e","type":"inject","z":"4722024a.847f34","name":"Humidité sol","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"15","crontab":"","once":true,"onceDelay":0.1,"topic":"Humidité sol","payload":"","payloadType":"date","x":120,"y":120,"wires":[["7f28307e.db6288"]]},{"id":"8197da90.1dfa98","type":"file","z":"4722024a.847f34","name":"Temp souhaitée","filename":"/home/pi/script/consignet.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":680,"y":320,"wires":[[]]},{"id":"7be0f5fa.b2a90c","type":"ui_slider","z":"4722024a.847f34","name":"","label":"","tooltip":"","group":"c96f5ad8.cbc918","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"20","max":"35","step":1,"x":450,"y":280,"wires":[["8197da90.1dfa98","c0042b59.d64a28"]]},{"id":"57c54ebd.fd89c8","type":"ui_slider","z":"4722024a.847f34","name":"","label":"","tooltip":"","group":"8aa0e4c3.14a548","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":"5","x":190,"y":460,"wires":[["87ee6e21.d64d68","b3b6173c.b86b3"]]},{"id":"b3b6173c.b86b3","type":"file","z":"4722024a.847f34","name":"Consigne humidité","filename":"/home/pi/script/consigneh.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":470,"y":480,"wires":[[]]},{"id":"a72efdc.505fd8","type":"ui_text_input","z":"4722024a.847f34","name":"","label":"","tooltip":"","group":"ac471694.6f34","order":0,"width":0,"height":0,"passthru":false,"mode":"time","delay":"0","topic":"","x":180,"y":540,"wires":[["9b4ffb0d.1f86e8"]]},{"id":"462d7149.0979d8","type":"ui_text_input","z":"4722024a.847f34","name":"","label":"","tooltip":"","group":"f7cb6fbe.d17c8","order":0,"width":0,"height":0,"passthru":false,"mode":"time","delay":"0","topic":"","x":180,"y":600,"wires":[["9a53038c.ee4b48"]]},{"id":"9b4ffb0d.1f86e8","type":"file","z":"4722024a.847f34","name":"","filename":"/home/pi/script/hdeb.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":410,"y":540,"wires":[[]]},{"id":"9a53038c.ee4b48","type":"file","z":"4722024a.847f34","name":"","filename":"/home/pi/script/hfin.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":420,"y":600,"wires":[[]]},{"id":"7f28307e.db6288","type":"file in","z":"4722024a.847f34","name":"","filename":"/home/pi/script/humidite.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":360,"y":120,"wires":[["d9da0e4a.f9499"]]},{"id":"32c071a8.1b4d0e","type":"inject","z":"4722024a.847f34","name":"température interne","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"Température interne","payload":"","payloadType":"date","x":100,"y":160,"wires":[["ee3bc4af.ff9e08"]]},{"id":"ee3bc4af.ff9e08","type":"file in","z":"4722024a.847f34","name":"","filename":"/home/pi/script/temp_int.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":360,"y":160,"wires":[["a7b6558a.6b167"]]},{"id":"a7b6558a.6b167","type":"ui_chart","z":"4722024a.847f34","name":"","group":"45046369.cb3964","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"bezier","nodata":"Pas de données","dot":false,"ymin":"0","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":670,"y":160,"wires":[[]]},{"id":"b1539b25.dd53f","type":"inject","z":"4722024a.847f34","name":"Humidité air","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"Humidité air","payload":"","payloadType":"date","x":130,"y":80,"wires":[["9f0d6564.de43c"]]},{"id":"9f0d6564.de43c","type":"file in","z":"4722024a.847f34","name":"","filename":"/home/pi/script/Humidite_air.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":370,"y":80,"wires":[["d9da0e4a.f9499"]]},{"id":"d9da0e4a.f9499","type":"ui_chart","z":"4722024a.847f34","name":"","group":"15c763a1.70b83c","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Pas de données","dot":false,"ymin":"0%","ymax":"100%","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":670,"y":80,"wires":[[]]},{"id":"5a5db5a2.39347c","type":"exec","z":"4722024a.847f34","command":"/home/pi/script/lumiere.py","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Script Humidité","x":280,"y":1320,"wires":[["825b7833.9821a8"],["825b7833.9821a8"],["825b7833.9821a8"]]},{"id":"c18bbede.e0c6d","type":"inject","z":"4722024a.847f34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1320,"wires":[["5a5db5a2.39347c"]]},{"id":"825b7833.9821a8","type":"debug","z":"4722024a.847f34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":1320,"wires":[]},{"id":"29ab76ab.04ccda","type":"exec","z":"17d496a8.f10e79","command":"/home/pi/script/humiditebin.py","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Script Humidité","x":400,"y":140,"wires":[["e809c59b.30ea38"],["e809c59b.30ea38"],["e809c59b.30ea38"]]},{"id":"c2edbf1.0b4874","type":"inject","z":"17d496a8.f10e79","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":140,"wires":[["29ab76ab.04ccda"]]},{"id":"e809c59b.30ea38","type":"debug","z":"17d496a8.f10e79","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":140,"wires":[]},{"id":"90ca6e85.a9e86","type":"inject","z":"17d496a8.f10e79","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":360,"wires":[["79d5e0e2.b6119"]]},{"id":"79d5e0e2.b6119","type":"change","z":"17d496a8.f10e79","name":"set to pid","rules":[{"t":"set","p":"payload","pt":"msg","to":"pid","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":360,"wires":[["26a991a0.462d3e"]]},{"id":"26a991a0.462d3e","type":"exec","z":"17d496a8.f10e79","command":"kill ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Script Humidité","x":560,"y":360,"wires":[["5daec245.f6430c"],["5daec245.f6430c"],["5daec245.f6430c"]]},{"id":"12f7c69c.0438d9","type":"status","z":"17d496a8.f10e79","name":"","scope":["29ab76ab.04ccda"],"x":220,"y":420,"wires":[["aa1f0d3c.d8611","e4933035.08145"]]},{"id":"aa1f0d3c.d8611","type":"function","z":"17d496a8.f10e79","name":"get pid","func":"if(msg.status.text){\n    let pid = msg.status.text.split(':');\n    msg.payload = pid[1];\n    return msg;\n} else {\n    return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":420,"wires":[["9de4104a.7b2b5"]]},{"id":"9de4104a.7b2b5","type":"change","z":"17d496a8.f10e79","name":"","rules":[{"t":"set","p":"pid","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":420,"wires":[[]]},{"id":"5daec245.f6430c","type":"debug","z":"17d496a8.f10e79","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":360,"wires":[]},{"id":"badfed4e.78d8f","type":"exec","z":"104b321d.9da63e","command":"/home/pi/script/lumiere.py","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Script Lumière","x":400,"y":140,"wires":[["e10e912b.14a2b"],["e10e912b.14a2b"],["e10e912b.14a2b"]]},{"id":"ceab9ec8.af7e5","type":"inject","z":"104b321d.9da63e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":140,"wires":[["badfed4e.78d8f"]]},{"id":"e10e912b.14a2b","type":"debug","z":"104b321d.9da63e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":140,"wires":[]},{"id":"3f4c581e.9bf828","type":"inject","z":"104b321d.9da63e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":260,"wires":[["c2a74905.99f8a8"]]},{"id":"c2a74905.99f8a8","type":"change","z":"104b321d.9da63e","name":"set to pid","rules":[{"t":"set","p":"payload","pt":"msg","to":"pid1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":260,"wires":[["ed3a9c21.b6ad5"]]},{"id":"ed3a9c21.b6ad5","type":"exec","z":"104b321d.9da63e","command":"kill ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Kill Script Lumière","x":510,"y":260,"wires":[["dc699c8d.87d9b"],["dc699c8d.87d9b"],["dc699c8d.87d9b"]]},{"id":"ae24d903.c412c8","type":"status","z":"104b321d.9da63e","name":"","scope":["badfed4e.78d8f"],"x":140,"y":320,"wires":[["4a44f613.6ae028","b567aed4.42e0c"]]},{"id":"4a44f613.6ae028","type":"function","z":"104b321d.9da63e","name":"get pid","func":"if(msg.status.text){\n    let pid = msg.status.text.split(':');\n    msg.payload = pid[1];\n    return msg;\n} else {\n    return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":320,"wires":[["d09f066a.2e17a8"]]},{"id":"d09f066a.2e17a8","type":"change","z":"104b321d.9da63e","name":"","rules":[{"t":"set","p":"pid1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":320,"wires":[[]]},{"id":"dc699c8d.87d9b","type":"debug","z":"104b321d.9da63e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":260,"wires":[]},{"id":"3002a2e8.d5d88e","type":"exec","z":"8b3dbf4b.1aa54","command":"/home/pi/script/temperature.py","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Script Température","x":370,"y":100,"wires":[["e4262d0b.93332"],["e4262d0b.93332"],["e4262d0b.93332"]]},{"id":"519f1391.3af87c","type":"inject","z":"8b3dbf4b.1aa54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":100,"wires":[["3002a2e8.d5d88e"]]},{"id":"e4262d0b.93332","type":"debug","z":"8b3dbf4b.1aa54","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":100,"wires":[]},{"id":"2157592a.bb2346","type":"inject","z":"8b3dbf4b.1aa54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":220,"wires":[["af0308d5.353978"]]},{"id":"af0308d5.353978","type":"change","z":"8b3dbf4b.1aa54","name":"set to pid","rules":[{"t":"set","p":"payload","pt":"msg","to":"pid1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":220,"wires":[["6b9a2bcc.30e034"]]},{"id":"6b9a2bcc.30e034","type":"exec","z":"8b3dbf4b.1aa54","command":"kill ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Kill Script Temp","x":460,"y":220,"wires":[["3f00105b.df9a7"],["3f00105b.df9a7"],["3f00105b.df9a7"]]},{"id":"87ed5e3c.c1ffc","type":"status","z":"8b3dbf4b.1aa54","name":"","scope":["3002a2e8.d5d88e"],"x":80,"y":300,"wires":[["21cce37c.0d7bfc","533ba240.60708c"]]},{"id":"21cce37c.0d7bfc","type":"function","z":"8b3dbf4b.1aa54","name":"get pid","func":"if(msg.status.text){\n    let pid = msg.status.text.split(':');\n    msg.payload = pid[1];\n    return msg;\n} else {\n    return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":300,"wires":[["3343b72b.916f28"]]},{"id":"3343b72b.916f28","type":"change","z":"8b3dbf4b.1aa54","name":"","rules":[{"t":"set","p":"pid1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":300,"wires":[[]]},{"id":"3f00105b.df9a7","type":"debug","z":"8b3dbf4b.1aa54","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":220,"wires":[]},{"id":"2d94c267.c9b77e","type":"file","z":"8b3dbf4b.1aa54","name":"","filename":"/home/pi/script/killedt.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":490,"y":340,"wires":[[]]},{"id":"533ba240.60708c","type":"change","z":"8b3dbf4b.1aa54","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"status","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":340,"wires":[["2d94c267.c9b77e"]]},{"id":"483b9cc6.364294","type":"file in","z":"8b3dbf4b.1aa54","name":"Check On/Off","filename":"/home/pi/script/On temp.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":400,"y":760,"wires":[["fe0e1c68.57b8f"]]},{"id":"fe0e1c68.57b8f","type":"ui_text","z":"8b3dbf4b.1aa54","group":"45046369.cb3964","order":2,"width":0,"height":0,"name":"","label":"Gestion Température","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":760,"wires":[]},{"id":"779a26bf.e4e708","type":"exec","z":"8b3dbf4b.1aa54","command":"/home/pi/script/killedtemp.py","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Temp On/off","x":370,"y":460,"wires":[["b2eceb6e.89eab8"],["b2eceb6e.89eab8"],["b2eceb6e.89eab8"]]},{"id":"1c0d60c7.4b669f","type":"inject","z":"8b3dbf4b.1aa54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":460,"wires":[["779a26bf.e4e708"]]},{"id":"b2eceb6e.89eab8","type":"debug","z":"8b3dbf4b.1aa54","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":460,"wires":[]},{"id":"c79eacda.7ce6e","type":"inject","z":"8b3dbf4b.1aa54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":760,"wires":[["483b9cc6.364294"]]},{"id":"6d454208.ab0bac","type":"inject","z":"8b3dbf4b.1aa54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":520,"wires":[["fe39c5f0.6ad198"]]},{"id":"fe39c5f0.6ad198","type":"change","z":"8b3dbf4b.1aa54","name":"set to pid","rules":[{"t":"set","p":"payload","pt":"msg","to":"pid2","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":520,"wires":[["24928570.b8039a"]]},{"id":"24928570.b8039a","type":"exec","z":"8b3dbf4b.1aa54","command":"kill ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Kill temp On/off","x":500,"y":520,"wires":[["549dd7c8.ea9e78"],["549dd7c8.ea9e78"],["549dd7c8.ea9e78"]]},{"id":"5cc7c30d.7d15cc","type":"status","z":"8b3dbf4b.1aa54","name":"","scope":["779a26bf.e4e708"],"x":140,"y":580,"wires":[["5a23f045.92f04"]]},{"id":"5a23f045.92f04","type":"function","z":"8b3dbf4b.1aa54","name":"get pid","func":"if(msg.status.text){\n    let pid = msg.status.text.split(':');\n    msg.payload = pid[1];\n    return msg;\n} else {\n    return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":580,"wires":[["eaa1e1d8.a102"]]},{"id":"eaa1e1d8.a102","type":"change","z":"8b3dbf4b.1aa54","name":"","rules":[{"t":"set","p":"pid2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":580,"wires":[[]]},{"id":"549dd7c8.ea9e78","type":"debug","z":"8b3dbf4b.1aa54","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":520,"wires":[]},{"id":"7641c6f5.2ba788","type":"file","z":"104b321d.9da63e","name":"","filename":"/home/pi/script/killedl.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":530,"y":360,"wires":[[]]},{"id":"b567aed4.42e0c","type":"change","z":"104b321d.9da63e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"status","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":360,"wires":[["7641c6f5.2ba788"]]},{"id":"21a9d72f.5da728","type":"file","z":"17d496a8.f10e79","name":"","filename":"/home/pi/script/killedh.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":630,"y":480,"wires":[[]]},{"id":"e4933035.08145","type":"change","z":"17d496a8.f10e79","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"status","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":480,"wires":[["21a9d72f.5da728"]]},{"id":"2e6a646b.a9df1c","type":"exec","z":"104b321d.9da63e","command":"/home/pi/script/killedlum.py","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Temp On/off","x":390,"y":514,"wires":[["39f7581.ccdd1a8"],["39f7581.ccdd1a8"],["39f7581.ccdd1a8"]]},{"id":"ed9d4e66.4f634","type":"inject","z":"104b321d.9da63e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":514,"wires":[["2e6a646b.a9df1c"]]},{"id":"39f7581.ccdd1a8","type":"debug","z":"104b321d.9da63e","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":514,"wires":[]},{"id":"215ba59f.92774a","type":"inject","z":"104b321d.9da63e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":574,"wires":[["d10effe7.c36e2"]]},{"id":"d10effe7.c36e2","type":"change","z":"104b321d.9da63e","name":"set to pid","rules":[{"t":"set","p":"payload","pt":"msg","to":"pid2","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":574,"wires":[["b80105b2.93b178"]]},{"id":"b80105b2.93b178","type":"exec","z":"104b321d.9da63e","command":"kill ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Kill temp On/off","x":520,"y":574,"wires":[["90ad7b8d.729e68"],["90ad7b8d.729e68"],["90ad7b8d.729e68"]]},{"id":"61f2f8d4.2dce88","type":"status","z":"104b321d.9da63e","name":"","scope":["2e6a646b.a9df1c"],"x":160,"y":634,"wires":[["58519703.ebbb68"]]},{"id":"58519703.ebbb68","type":"function","z":"104b321d.9da63e","name":"get pid","func":"if(msg.status.text){\n    let pid = msg.status.text.split(':');\n    msg.payload = pid[1];\n    return msg;\n} else {\n    return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":634,"wires":[["e7d6270.ada58d8"]]},{"id":"e7d6270.ada58d8","type":"change","z":"104b321d.9da63e","name":"","rules":[{"t":"set","p":"pid2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":634,"wires":[[]]},{"id":"90ad7b8d.729e68","type":"debug","z":"104b321d.9da63e","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":574,"wires":[]},{"id":"214cc707.6e47f8","type":"file in","z":"104b321d.9da63e","name":"Check On/Off","filename":"/home/pi/script/On lum.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":360,"y":700,"wires":[["3cfbf8e1.73f688"]]},{"id":"3cfbf8e1.73f688","type":"ui_text","z":"104b321d.9da63e","group":"12820790.41b0c8","order":3,"width":0,"height":0,"name":"","label":"Gestion Lumière","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":694,"wires":[]},{"id":"c84131ac.23c","type":"inject","z":"104b321d.9da63e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":694,"wires":[["214cc707.6e47f8"]]},{"id":"d549dcf.7f5112","type":"exec","z":"17d496a8.f10e79","command":"/home/pi/script/killedh.py","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Humidité On/off","x":420,"y":560,"wires":[["4ab17248.05b4cc"],["4ab17248.05b4cc"],["4ab17248.05b4cc"]]},{"id":"644de83e.6dbc98","type":"inject","z":"17d496a8.f10e79","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":560,"wires":[["d549dcf.7f5112"]]},{"id":"4ab17248.05b4cc","type":"debug","z":"17d496a8.f10e79","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":560,"wires":[]},{"id":"7cdc90a4.c35ed","type":"inject","z":"17d496a8.f10e79","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":620,"wires":[["cbfd77fb.551ee8"]]},{"id":"cbfd77fb.551ee8","type":"change","z":"17d496a8.f10e79","name":"set to pid","rules":[{"t":"set","p":"payload","pt":"msg","to":"pid2","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":620,"wires":[["6bb64957.915cc8"]]},{"id":"6bb64957.915cc8","type":"exec","z":"17d496a8.f10e79","command":"kill ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Kill humidité On/off","x":550,"y":620,"wires":[["fcada9a5.f76158"],["fcada9a5.f76158"],["fcada9a5.f76158"]]},{"id":"db4a2cd7.3c806","type":"status","z":"17d496a8.f10e79","name":"","scope":["d549dcf.7f5112"],"x":180,"y":680,"wires":[["dfdfa6de.675678"]]},{"id":"dfdfa6de.675678","type":"function","z":"17d496a8.f10e79","name":"get pid","func":"if(msg.status.text){\n    let pid = msg.status.text.split(':');\n    msg.payload = pid[1];\n    return msg;\n} else {\n    return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":680,"wires":[["f1881fea.49a71"]]},{"id":"f1881fea.49a71","type":"change","z":"17d496a8.f10e79","name":"","rules":[{"t":"set","p":"pid2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":680,"wires":[[]]},{"id":"fcada9a5.f76158","type":"debug","z":"17d496a8.f10e79","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":620,"wires":[]},{"id":"add12d42.3b6a1","type":"file in","z":"17d496a8.f10e79","name":"Check On/Off","filename":"/home/pi/script/On Humi.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":400,"y":740,"wires":[["88e14fb3.b2e63"]]},{"id":"88e14fb3.b2e63","type":"ui_text","z":"17d496a8.f10e79","group":"15c763a1.70b83c","order":2,"width":0,"height":0,"name":"","label":"Gestion Humidité","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":740,"wires":[]},{"id":"d0d335eb.f5b808","type":"inject","z":"17d496a8.f10e79","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":740,"wires":[["add12d42.3b6a1"]]},{"id":"ab4c4eab.cadf4","type":"file in","z":"104b321d.9da63e","name":"Check Lumière On/Off","filename":"/home/pi/script/Lum.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":420,"y":400,"wires":[["815b828.d2c208"]]},{"id":"815b828.d2c208","type":"ui_text","z":"104b321d.9da63e","group":"12820790.41b0c8","order":2,"width":0,"height":0,"name":"","label":"Eclairage","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":400,"wires":[]},{"id":"e8f1a697.6711b8","type":"inject","z":"104b321d.9da63e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":400,"wires":[["ab4c4eab.cadf4"]]},{"id":"f8cb4e31.23804","type":"file in","z":"104b321d.9da63e","name":"Check On/Off","filename":"/home/pi/script/LumC.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":380,"y":460,"wires":[["c6ce73a.97e979"]]},{"id":"1db300d1.ce2e3f","type":"inject","z":"104b321d.9da63e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":true,"onceDelay":0.1,"topic":"Eclairage","payload":"","payloadType":"date","x":160,"y":460,"wires":[["f8cb4e31.23804"]]},{"id":"c6ce73a.97e979","type":"ui_chart","z":"104b321d.9da63e","name":"","group":"12820790.41b0c8","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":600,"y":460,"wires":[[]]}]